@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  .headertext .wel{
    color: black;
    
    
  }
  
  .headertext .wel i{
    color:purple;
  }

  .container {
    width: 80%;
    font-size: 400px;
    margin: 0 auto;
  }
  
  #header {
    width: 100%;
    height: 100vh;
  
    background-size: cover;
    background-position: center;
    font-weight: bold;

  }
  nav {
  
    display: flex;
            align-items: center;
            justify-content: space-between;
           /* Set background color for better visibility */
            padding: 10px;
  }
  
  .logo {
    width: 100px; /* Adjust the width of the logo */
    height: auto;
    margin-right: 20px;
  }
  nav ul {
    list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

  }
  nav ul li {
    margin-right: 20px;
    position: relative;
    margin: 0 10px;
    cursor: pointer;
  }
  nav a {
    font-weight: bold;
    font-size: 20px; 
    text-decoration: none;
            color: black; /* Set the default text color */
   
  }
  a:hover {
    color: purple; /* Set the text color on hover */
    font-weight: 2000; /* Set the default font weight */
    transition: font-weight 0.3s ease-in-out;
}
  .headertext {
   text-align: center;
    font-weight: 300;
    margin-top: 50px;
    color: black;
  }
  .headertext h1 {
    font-size: 36px;
    color: black;
  }
  
  .headertext span {
    color: purple; /* Adjust the color of the span */
    font-size:24px ;
    

  }
  
  .headertext h1 span{
   
      color: black;
      font-size: 30px;
  }
 
  .headertext h3 {
    font-size: 24px;
    margin-top: 10x;
  }
  
  .headertext p {
    font-size: 16px;
    margin-top: 10px;
  }
  .headertext  h2{
    font-size: 40px;
   
    color: black;
  }
  body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.join-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color: purple;
  color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.join-button:hover {
  background-color:purple;
}

/* plans */


 #plan{
  padding: 30px 0;
 
margin-right: 10px;

}
.plan-list{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    font-size: 30px;
   
}

 .plan-list div{
  background: rgb(196, 177, 196);
  padding: 40px;
  font-size: 13px;
  
  font-weight: 300;
  border-right: 10px;

 }
.plan-list a{
  text-decoration: none;
  
}
.container h1{
  font-size:40px;
  color: purple;
}
.container h1 i{
        color: black;
        font-size: 40px;
}

/* <!-- about gym and vibefit --> */
#about{
  padding: 80px 0;
  color: black;
  

}
.sub-title{
  color: purple;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-top: 10px;
}
.welcome{
  margin-top: -50px;
  color: black;
 
}

.sub-title{
  color: purple;
  margin-bottom: 20px;
  font-size: 30px;
  
}
.sub-title i{
  color: black;
  size: 20px;
  font-size: 30px;
}
.about-col-1{
  flex-basis: 32%;
}
.about-col-1 img{
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
}
.about-col-2{
  margin-top: 2px;
  flex-basis: 32%;
 
}
.about-col-2 img{
  width: 100%;
  margin-top: 20px;
  display: flex;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.about-col-3{
  flex-basis: 32%;
}
.about-col-3 img{
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  
}

.tab-titles{
  display: flex;
  margin: 20px 0 40px;
color: purple;
font-weight: 500;
}
.paragraph{
  margin-top: 20px;
  font-size: larger;
  font-weight: 200;
}
 /* contact us  */
 #contact{
  margin-top: 50px;
 }
 .contact-left{
   
  flex-basis: 35%;
  margin-top: -5px;
  
}
.contact-right{
  
  flex-basis: 60%;
}

contact-left p i{
  
  margin-right: 5px;
  font-size: 35px;
}
.row.contact-left a{
  size: 400px;
}

.btn.btn2{
 
  display: inline-block;
  
margin-top: 20px;
  background: purple;
  text-decoration: none;
  color: #fff;
  padding: 15px 30px;
  border-radius: 20px;

}.contact-right form{
  width: 100%;
  margin-top: 30px;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none ;
  background: rgb(192, 186, 186);
  padding: 15px;
  margin: 15px 0;
  counter-reset: #fff;
  font-size: 18px;
  border-radius: 6px;
}
 .copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: rgb(199, 185, 199);
  font-weight: 300;
  margin-top: 20px;

}
.copyright i{
  color: purple;
}
#end {
  background-color:  rgb(199, 185, 199);
  color: black;
  padding: 20px 0;
  margin-top: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.columnlist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.columnlist div {
  flex: 0 0 30%; /* Set the width of each column */
  padding: 20px;
  box-sizing: border-box;
}

h2 {
  color:  purple;
  font-size: 1.5em;
  margin-bottom: 10px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

p {
  margin: 0;
}

.fa-solid {
  font-family: 'Font Awesome 6 Solid';
  margin-right: 5px;
}


.quicklinks {
  color: purple; /* Set the color of the heading */
  font-size: 1.5em; /* Adjust the font size */
  margin-bottom: 10px; /* Add some space below the heading */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 8px; /* Adjust the spacing between list items */
}

a {
  text-decoration: none;
  color: black; /* Set the default text color for links */
  transition: color 0.3s ease; /* Add a smooth color transition on hover */
}
 .social-media i{

}
a:hover {
  color: purple; /* Set the text color on hover */
}
a:hover::after{
  font-weight: 300;
}
        /* G A L L A R Y  */

#gallary{
  font-family: Arial, sans-serif;
  padding: 30px 0;
  padding-top: 40px;
  margin: 0;
  padding: 0;
}
.photo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns in one row */
  gap: 0px;
  max-width: 1000px;
  margin: 20px auto;
  
}
.photo-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  size: auto;
  transition: transform 0.2s ease-in-out;
 
}
.photo-container img:hover {
  transform: scale(1.1);
}
#Gallary .container h2{
  font-weight: bold; 
  font-size: 40px;
  text-align: center;
  color: black;
  background-color:rgb(196, 177, 196) ;
}
.instru-list{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    font-size: 30px;
}
 .instru-list div{
  background: rgb(196, 177, 196);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-right: 20px;

 }
.instru-list a{
  text-decoration: none;
  
}
.container h1{
  font-size:50px;
  color: purple;
}

.instru-list p{
  font-style: 20px;
  font-size: 20px;
  font-weight: bold;
}
.container h1 i{
        color: black;
        font-size: 40px;
}

/* Header styles */
h1 {
  color: purple;
  margin-left: 18px;
}

/* Card styles */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.col-md-5 {
  width: 45%; /* Two columns per row with some spacing */
  margin: 1%; /* Adjust margin as needed */

}

.card {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
 
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h2 {
  color: purple;
  margin-left: 10px;
}

.card p {
  color: #555;
  margin-left: 10px;
}

.text-center{
  margin-left: 10px;
}
.p-2{
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 50px;
  margin-right: 50px;
}
.p-2 img{
  width: 20%;
  height: 20%;
}
#programs .text-center h1{
  margin-top: 50px;
  font-size: 40px;
}
#programs .text-center i{
  margin-top: 5px;
  margin-left: 10px;
  font-size: 40px;
}
#programs  {

  margin-left: -20px;

}
nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
  
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
 
  width: 250px;
  z-index: 999;
  background-color:white;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgb(196, 177, 196);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.sidebar ul li a i {
  height: 26px;
  width: 26px;
}

.menu-button {
  display: flex;
}

@media (max-width: 800px) {
  .hideOnMobile {
      display: none;
  }
  .menu-button {
      display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
      width: 100%;
  }
}

